html,
body {
    height: 100%;
    margin: 0;
}

body {
    /* Центрирование игрового поля. */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    background: url(https://wallpapers.com/images/hd/bright-yellow-background-65sq4bzhocf1h3uc.jpg);
}

.field {
    width: 400px;
    height: 400px;
    background: linear-gradient(yellow,orange);
    border-radius: 5px;
    /* Для позиционирования ячеек
    относительно игрового поля. */
    position: relative;
}

.field__cell {
    width: 81.25px;
    height: 81.25px;
    position: absolute;
    border-radius: 3px;
}

.field__cell--null {
    background: linear-gradient(rgb(189, 189, 28),rgb(182, 132, 41));
}

.field__cell--tile {
    background: linear-gradient(yellow,orange);

    color: white;
    font-size: 42px;
    font-weight: bold;

    /* Центрирование числа на костяшке. */
    display: flex;
    justify-content: center;
    align-items: center;

    transition: left 0.5s ease, top 0.5s ease;
}

#modal {
    /* Размеры равные размеру родителя,
     то есть игрового поля. */
    height: 100%;
    width: 100%;
    /* Наследование радиуса границ. */
    border-radius: inherit;

    /* Невидимость. */
    visibility: hidden;
    opacity: 0;

    transition: opacity 1s ease;

    /* Вывод блока на передний план. */
    position: relative;
    z-index: 1;

    /* Центрирование сообщения. */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Цвета и размер шрифта. */
    background: rgba(0, 0, 0, 0.5);
    color: white;

    font-size: 72px;
}

#modal.modal--visible {
    visibility: visible;
    opacity: 1;
}
.pause{
    background-color:linear-gradient(yellow,orange);
    border-radius: 5px;
    position:absolute;
    left:50% ;
    top: 50px;
}
.yes{
    visibility: hidden;
    opacity: 0;
}